doctype html
.page-header
  h3 {{event.title}}

sortable-table(
  columns= "[{'name': 'name', 'title': '" + __('event_item.attributes.name') + "'}, {'name': 'count', 'title': '" + __('event_item.attributes.count') + "'}, {'name': 'bringer', 'title': '" + __('event_item.attributes.bringer') + "'}]",
  data="{{event.items}}")

form(ng-submit="addItem()", style="margin-top:30px;")
  h3= __('helpers.add', {article: __('event_item.article.one.indefinite'), model: __('event_item.name')})
  div
    paper-input-decorator(label= __('event_item.attributes.name'), floatingLabel)
      input(ng-model="name", is="core-input", required)
  div
    paper-input-decorator(label= __('event_item.attributes.count'), floatingLabel)
      input(ng-model="count", is='core-input', type='number', min="0", required)
  div
    paper-input-decorator(label= __('event_item.attributes.bringer'), floatingLabel)
      input(ng-model="bringer", is='core-input', required)
  button(type='submit', is='paper-submit')= __('helpers.post')